# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.GridBasedMovement.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\evski\Documents\TUD Games Design\Year 3\Own Projects\Unity\GridBasedMovement\.idea\.idea.GridBasedMovement\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
